<Files .htaccess>
order allow,deny
deny from all

## Turn on rewrite engine
RewriteEngine on

## Force WWW
RewriteCond %{HTTP_HOST} ^raiodobicho\.com [NC]
RewriteRule ^(.*)$ http://www.raiodobicho.com/$1 [L,R=301,NC]

## Force HTTPS
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## Remove trialing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ http://www.raiodobicho.com/$1 [L,R=301]

</Files>
