<!DOCTYPE html>
    <head>

    </head>
    <body>
        <h1>Form to add products</h1>
        
        <Form class="" action="/meds/add" method="post">
            <input type="text" name="name" placeholder="Product name"/>
            <input type="text" name="count" placeholder="Count"/>
            <input type="text" name="brand" placeholder="Brand"/>
            <button type="submit">Add</button>
    </body>
</html>